/** Common */
html{
  height: 100%;
}

body {
  background-color: rgb(244, 246, 249) !important;
  min-height: 100%;
}

.sideMenu {
  background-color: rgb(84, 105, 141);
  color: #FFF;
  min-height: 2000px;
  min-width: 100px;
}

.sideMenu ul li a {
  color: #FFF;
  text-decoration: none;
}
.sideMenu ul li a:hover {
  color: rgb(0, 112, 210) !important;
}

table.transmissionTable {
  background-color: rgba(0,0,255,0);
}

#map_canvas {
  height: 400px;
}

/** Home **/
.helloMap {
  height: 200px;
}