<div class="slds-p-around--large partialsHeader">
  <h1 class="slds-text-heading--medium">GOOGLE MAP - INFO WINDOW IN FORM</h1>
</div>
<div>
  <h1 class="slds-text-heading--medium slds-p-top--large slds-p-left--small">- INFO WINDOW IN FORM -</h1>
  <p class="slds-text-heading--xxx-samll slds-p-around--small">情報ウィンドウの中にフォームを表示</p>
  <div id="map_canvas" class="helloMap"></div>
  <!-- Info Window Form -->
  <form id="markerPropertyForm">
    <div>
      marker icon:
      <br/>
      <input type="text" id="iconTxt" size="32" />
      <input type="button" id="changeBtn" value="変更" />
    </div>
  </form>
</div>