<div class="slds-p-around--large partialsHeader">
  <h1 class="slds-text-heading--medium">GOOGLE MAP - MAP EVENT</h1>
</div>
<div>
  <h1 class="slds-text-heading--medium slds-p-top--large slds-p-left--small">- MAP EVENT -</h1>
  <p class="slds-text-heading--xxx-samll slds-p-around--small">Mapクラスから発生するイベントを記録して表示</p>
  <section class="slds-clearfix">
    <div id="map_canvas" class="slds-float--left" style="width: 60%;"></div>
    <div class="slds-float--right slds-scrollable--y" style="width: 40%; height: 400px;">
      <div id="evtList"></div>
    </div>
  </section>
</div>