<div class="slds-p-around--large partialsHeader">
  <h1 class="slds-text-heading--medium">GOOGLE MAP - PANORAMIO</h1>
</div>
<div>
  <h1 class="slds-text-heading--medium slds-p-top--large slds-p-left--small">- PANORAMIO -</h1>
  <p class="slds-text-heading--xxx-samll slds-p-around--small">Googleの写真サービス『Panoramio』 (うまく動かせられなかった。サポート終了してたっぽい。)</p>
  <div id="map_canvas"></div>
  <div id="panoramio_frame">
    <input type="button" value="close" id="closeBtn">
    <div id="panoramio_widget"></div>
  </div>
</div>